body{
    margin:0;
    overflow:hidden;
}
*{
    font-size: large;
    font-family: sans-serif;
    user-select:none;
    box-sizing:border-box;
}
#menu{
    overflow: hidden;
    z-index: 10;
}
#menu>*, #menu{
    background:#f3db21;
    color:#111;
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: left .5s;
}
#menu.hide{left:-200vw;}
#menu>*.hide{left:-100vw;}
#menu header{
    padding: 0;
    margin: 0 0 1.5rem 0;
    width:100%;
    border: none;
    font-size: x-large;
    font-weight: 900;
}
.center{display:flex; flex-direction:column;padding:1.5rem 0;}
.center>*{
    display: block;
    padding: .5em;
    margin: 3px;
    text-align: center;
    position: relative;
    border: 2px solid;
    border-radius: .3em;
    align-self:center;
    width:75%
}

.toggle{padding-right:3em !important;}
.toggle:after{
    content: ' ';
    border: 2px solid;
    width: 2em;
    height: 1em;
    border-radius: 1em;
    display: inline-block;
    right: .5em;
    top: .5em;
    position: absolute;
}
.toggle:before{
    content:' ';
    width:.8em;
    height:.8em;
    display: inline-block;
    right: 1.7em;
    top: .7em;
    position: absolute;
    border-radius: .8em;
    background:#111;
    transition: right .2s;
}
.toggle.active:before{right:.7em;}

.disabled{ color:grey; }

#sudoku-game{
    display:flex;
    width:100vw;
    height:100vh;
    overflow: hidden;
}

@media screen and (orientation:portrait) {
    #board{
        width: 100vw;
        height: 100vw;
    }
    #board [data-index]{
        font-size: 7vw;
    }
    .note *{
        font-size:3.5vw;
        line-height:3.5vw;
    }
    #controls>*{
        font-size: 7vw;
        min-width: 11.109vw;
        min-height: 11.109vw;
    }
    #sudoku-game{
        flex-direction: column;
    }
}

@media screen and (orientation:landscape) {
    #board{
        width: 100vh;
        height: 100vh;
    }
    #board [data-index]{
        font-size: 7vh;
    }
    .note * {
        font-size:3.5vh;
        line-height:3.5vh;
    }
    #controls {
        flex-direction: column;
    }
    #controls >*{
        font-size: 7vh;
        min-width: 11.109vh;
        min-height: 11.109vh;
    }
}

#board{
    display: inline-grid;
    grid-template: repeat(9, 1fr) / repeat(9, 1fr);
}
#board [data-col="3"], #board [data-col="6"] {
    border-right: 3px solid black !important;
}
#board [data-row="3"], #board [data-row="6"] {
    border-bottom: 3px solid black !important;
}

#board [data-index]{
    display:flex;
    justify-content:center;
    align-items:center;
    overflow: hidden;
    cursor: default;
    color: #333;
    border: 1px solid black;
    position: relative;
}

#board [data-grp='1'],#board [data-grp='3'],#board [data-grp='5'],#board [data-grp='7'],#board [data-grp='9']{
	background-color: #ffa;
}
#board .default{
    font-weight: 900;
    color: #000;
}
#board [data-grp='1'].default,#board [data-grp='3'].default,#board [data-grp='5'].default,#board [data-grp='7'].default,#board [data-grp='9'].default{
	background-color: #ee9;
}
#board [data-grp='2'].default,#board [data-grp='4'].default,#board [data-grp='6'].default,#board [data-grp='8'].default{
	background-color: #eee;
}

#board .highlighted{background-color: #ccF !important;}
#board .noteselect{background-color: #ddF !important;}
#board .focused{background-color: #cFF !important;}
#board .hint{
    animation-name: hinter;
    animation-duration: 1s;
    animation-iteration-count: 3;
}
@keyframes hinter {
    50% {background-color: red;}
}

#board .note {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-items: center;
    align-items: center;
}
#board .note *{
    font-family: "Courier New", Courier, monospace;
}

#controls {
    display: inline-flex;
    flex-wrap:wrap;
    justify-content: center;
}
#controls>*{
    display:flex;
    justify-content:center;
    align-items:center;
    cursor: default;
    border: .05em outset white;
    border-radius: 8px;
    background-color: #eee;
}

#controls .selected{
    background-color: #Faa;
    border-style:inset ;
}
#controls .done{
    color: #FFF !important;
    background-color: #555 !important;
}

.push{content:' '; margin:auto; visibility:hidden;}

#adsense{
    /* position: absolute; */
    background: #ddd;
    /* bottom:0; */
    /* right:0; */
}
