body{
    margin:0;
    overflow:hidden;
}
*{
    font-size: large;
    font-family: sans-serif;
    user-select:none;
    box-sizing:border-box;
}

#menu{
    background:#f3db21;
    color:#111;
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    display:flex;
    transition: left 1s;
}
#menu.hide{
    left:-200vw;
}
.center{
    display:flex !important;
    flex-direction:column;
    align-content:center;
    justify-content:center;
}
.disabled{
    color:grey;
}

#menu>div{
    max-width: 80%;
    min-width: 50%;
    margin: .5em auto;
}

.center>*{
    display: block;
    padding: 1em 2em;
    margin:3px;
    text-align: center;
    position: relative;
    border: 2px solid;
    border-radius: .3em;
}
#menu header{
    padding: .5em;
    border: none;
    font-size: x-large;
    font-weight: 900;
}
#menu summary{
    padding: 0;
    border: none;
    outline: none;
}

#sudoku-game{
    display:flex;
    width:100vw;
    height:100vh;
    overflow: hidden;
}

@media screen and (orientation:portrait) {
    #board{
        width: 100vw;
        height: 100vw;
    }
    #board [data-index]{
        line-height: 10.5vw;
        font-size: 7vw;
    }
    #controls >*{
        font-size: 7vw;
        min-width: calc(100vw / 9);
        line-height: calc(100vw / 9);
    }
    #adsense{
        left:0;
        height:15vh;
    }
    #sudoku-game{
        flex-direction: column;
    }
}

@media screen and (orientation:landscape) {
    #board{
        width: 100vh;
        height: 100vh;
    }
    #board [data-index]{
        line-height: 10.5vh;
        font-size: 7vh;
    }
    #controls {
        flex-direction: column;
    }
    #controls >*{
        font-size: 7vh;
        min-width: calc(100vh / 9);
        line-height: calc(100vh / 9);
    }
    #adsense{
        top:0;
        width:15vw;
    }
}

#board{
    display: inline-grid;
    grid-template: repeat(9, 1fr) / repeat(9, 1fr);
}
#board [data-col="3"], #board [data-col="6"] {
    border-right: 3px solid black !important;
}
#board [data-row="3"], #board [data-row="6"] {
    border-bottom: 3px solid black !important;
}

#board [data-index]{
    display: inline-block;
    overflow: hidden;
    text-align: center;
    cursor: default;
    color: #333;
    border: 1px solid black;
}

#board [data-grp='1'],#board [data-grp='3'],#board [data-grp='5'],#board [data-grp='7'],#board [data-grp='9']{
	background-color: #ffa;
}
#board .default{
    font-weight: 900;
    color: #000;
}
#board [data-grp='1'].default,#board [data-grp='3'].default,#board [data-grp='5'].default,#board [data-grp='7'].default,#board [data-grp='9'].default{
	background-color: #ee9;
}
#board [data-grp='2'].default,#board [data-grp='4'].default,#board [data-grp='6'].default,#board [data-grp='8'].default{
	background-color: #eee;
}

#board .highlighted{background-color: #ccF !important;}
#board .focused{background-color: #cFF !important;}
#board .hint{
    animation-name: hinter;
    animation-duration: 1s;
    animation-iteration-count: 3;
}
@keyframes hinter {
    50% {background-color: red;}
}

#controls {
    display: inline-flex;
    flex-wrap:wrap;
}
#controls>*{
    display: inline-block;
    cursor: default;
    text-align: center;
    border: 2px outset white;
    border-radius: 8px;
    background-color: #eee;
}

#controls .selected{
    background-color: #Faa;
    border-style:inset ;
}
#controls .done{
    color: #FFF !important;
    background-color: #555 !important;
}

.push{margin:auto;}
#adsense{
    /* position: absolute; */
    background: #ddd;
    bottom:0;
    right:0;
}
