<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='manifest' href='manifest.json' />
        <script src="src/vue.js"></script>
	    <link rel="stylesheet" type="text/css" href="css/style.css">

        <link rel="apple-touch-icon" sizes="180x180" href="/sudoku/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/sudoku/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/sudoku/img/favicon-16x16.png">
        <link rel="manifest" href="/sudoku/img/site.webmanifest">
        <link rel="mask-icon" href="/sudoku/img/safari-pinned-tab.svg" color="#f3db21">
        <link rel="shortcut icon" href="/sudoku/img/favicon.ico">
        <meta name="msapplication-TileColor" content="#f3db21">
        <meta name="msapplication-config" content="/sudoku/img/browserconfig.xml">
        <meta name="theme-color" content="#f3db21">
    </head>
    <body>
        <div id="sudoku-game">
            <div :class="{hide: !showmenu }" id="menu">
                <div class="center">
                    <header>BA5NA Sudoku</header>
                    <a :class="{disabled: cantResume}" id="resume" v-on:click="resume" >Continue</a>
                    <a :class="{disabled: cantReset}" id="reset" v-on:click="reset" >Restart</a>
                    <details class="frame center">
                        <summary ref="newGameSummary">New Game</summary>
                        <a id="startEasy" v-on:click="newGame(30)" >Easy</a>
                        <a id="startMedium" v-on:click="newGame(40)" >Medium</a>
                        <a id="startHard" v-on:click="newGame(80)" >Hard</a>
                    </details>
                    <a id="options" v-on:click=" "> Options </a>
                </div>
            </div>
            <!-- <div :class="{hide: !showoptions }" id="optionsmenu">
                 <div class="center">
                 <header>Options</header>
                 <a id="saveoptions" v-on:click="saveOptions"> Save </a>
                 </div>
                 </div> -->
            
	        <div id="board">
                <div v-for="(item, i) in databoard"
                     :data-index="i" :data-col="column(i)" :data-row="row(i)" :data-grp="group(i)"
                     :class="{highlighted: selected==item, default: begin[i]==item }"
                     v-on:click="play">
                    {{ isValid(item)? item : "" }}
                </div>
            </div>
            <div id="controls">
                <div v-for="n in 9"
                     class="number"
                     :class="{selected: selected==n, done: isFull(n)}"
                     v-on:click="select(n)" >{{n}}
                </div>
                <!--
                     <div id="clearSelect">&#9747;</div>
                     <div id="undo">&#11178;</div>
                     <div id="redo">&#11179;</div>
                     <div v-on:click="annotate = !annotate" >{{ annotate? "&#9999;" : "&#10002;" }}</div>
                -->
                <div id="menuBtn" v-on:click="showmenu = !showmenu" >Menu</div>
                
            </div>
        </div>
        <div id="adsense"></div>
        <script src="src/main.js" type="text/x-ecmascript"></script>
    </body>
</html>
