<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='manifest' href='manifest.json' />
        <script src="src/vue.js"></script>
	    <link rel="stylesheet" type="text/css" href="css/style.css">

        <link rel="apple-touch-icon" sizes="180x180" href="/sudoku/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/sudoku/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/sudoku/img/favicon-16x16.png">
        <link rel="manifest" href="/sudoku/img/site.webmanifest">
        <link rel="mask-icon" href="/sudoku/img/safari-pinned-tab.svg" color="#f3db21">
        <link rel="shortcut icon" href="/sudoku/img/favicon.ico">
        <meta name="msapplication-TileColor" content="#f3db21">
        <meta name="msapplication-config" content="/sudoku/img/browserconfig.xml">
        <meta name="theme-color" content="#f3db21">
    </head>
    <body>
        <div id="sudoku-game">
            <div id="menu" class="center" :class="{hide: !showmenu }">
                <header>BA5NA Sudoku</header>
                <a v-if="canResume" v-on:click="resume" >Continue</a>
                <a v-if="canReset" v-on:click="reset" >Restart</a>
                <details class="frame center">
                    <summary ref="newGameSummary">New Game</summary>
                    <a v-on:click="newGame(30)" >Easy</a>
                    <a v-on:click="newGame(40)" >Medium</a>
                    <a v-on:click="newGame(50)" >Hard</a> 
                    <a v-on:click="newGame(80)" >Extreme</a>
                </details>
                <a v-on:click="showoptions =! showoptions"> Options </a>
                <!-- <a v-on:click="helpAllowed = !helpAllowed" >Allow Help</a> -->
            </div>
	        <div id="board">
                <div v-for="(item, i) in databoard"
                     :data-index="i" :data-col="column(i)" :data-row="row(i)" :data-grp="group(i)"
                     :class="{highlighted: selected==item, default: begin[i]==item }"
                     v-on:click="play">
                    {{ isValid(item)? item : "" }}
                </div>
            </div>
            <div id="controls">
                <div v-for="n in 9"
                     class="number"
                     :class="{selected: selected==n, done: isFull(n)}"
                     v-on:click="selected=n" >{{n}}
                </div>
                <!--
                     <div v-on:click="annotate = !annotate" >{{ annotate? "&#9999;" : "&#10002;" }}</div>
                -->
                <div :class="{disabled: undoIndex <= 0}"  v-on:click="undo()">Undo</div>
                <div :class="{disabled: undoIndex == undoList.length }" v-on:click="redo()">Redo</div>
                <div v-on:click="showmenu = true" >Menu</div>
            </div>
            <div class="push"></div>
            <div id="adsense"></div>
        </div>
        <script src="src/main.js" type="text/x-ecmascript"></script>
    </body>
</html>
